* {
  margin: 0;
}
body {
  background-image: url(../IMG/ps1-bios-backgrounds-as-desktop-wallpapers-v0-nud6ptrg2hf81.jpg);
  display: flex;
  justify-content: center;
}
main {
  background-color: #333333;
  padding: 15px;
  width: 90%;
  margin-top: 50px;
}
header {
  background-color: black;
  padding: 30px;
}
/* Titulo Principal */
header h1 {
  color: white;
}
/* Sub titulo */
header h2 {
  color: turquoise;
}
/* Navegador de la web */
nav {
  background-color: rgb(39, 36, 36);
  padding-top: 10px;
  padding-bottom: 10px;
  /* No se puede poner padding que se descuadra*/
}
nav a {
  padding: 10px;
  text-decoration: none;
  color: turquoise;
  border: 0.1px solid grey;
}
nav a:hover {
  color: white;
  background-color: rgba(250, 235, 215, 0.452);
}
/* La Altura del aside esta a ojo */
aside {
  float: right;
  width: 25%;
  height: 65.59%;
  padding: 15px;
  border-left: 1px solid turquoise;
}
aside h3 {
  color: white;
  font-size: 14px;
  border-left: 3px solid turquoise;
  padding-left: 8px;
  margin-bottom: 15px;
}
/* Contenedor Del Aside */
aside div {
  display: flex;
  justify-items: center;
  gap: 10px;
  padding: 10px;
}
aside img {
  width: 80px;
  height: 80px;
}
aside p {
  color: white;
}

/* Pagina Web news */
/* Primera Noticia */
.yume {
  margin-top: 20px;
  border: 1px solid turquoise;
  height: 150px;
}
.yume h2 {
  border: none;
}
.yume img {
  float: left;
  width: 150px;
  height: 130px;
  margin: 10px;
}
.yume div {
  margin-right: 10px;
}
/* Segunda Noticia */
.sonic {
  border: 1px solid turquoise;
  height: 150px;
}
.sonic h2 {
  border: none;
}
.sonic div {
  margin-right: 10px;
}
.sonic img {
  float: left;
  width: 150px;
  height: 130px;
  margin: 10px;
}

footer {
  padding: 50px;
  text-align: center;
  color: white;
}
